
<em><%= @event.event_name %></em>
<br/>
<%= @event.description %>
<br/>
<a href="<%= @event.url %>" target="_blank">Click for More Information</a>
<br/>
<%= @event.neighborhood %>
<br/>
<img src="<%= @event.pic %>"/></br>
<%= link_to edit_user_registration_path %>



