<br/>

<br/>
<div id = "mainevent">
<%= form_for(@user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br/>
 
   <h3>Select Neighborhood Preferences:</h3>

<font size="3">

<% queens %>
<% manhattan %>

<font color = "red">Queens </font>|
<font color = "black"> Brooklyn </font> |
<font color = "blue">Manhattan</font>
<br/>
<br/>

  <%= f.collection_check_boxes(:neighborhood_ids, @neighborhoods, :id, :name) do |cb|%>

    <% case %>
    <% when queens.include?(cb.text) %>
    <font color = "red"> <%= cb.check_box %><%= cb.label %></font>

    <% when brooklyn.include?(cb.text) %>
      <font color = "black"><%= cb.check_box %><%= cb.label %></font>

    <% when manhattan.include?(cb.text) %>
      <font color = "blue"><%= cb.check_box %><%= cb.label %></font>

    <% end %>

    <% end %>

</font>

  <h3>Select Your Interests:</h3>

<font size="3"> 
  <%= f.collection_check_boxes(:category_ids, @categories, :id, :name) do |cb| %>
      <%=cb.check_box%><%= cb.label %> |
    <%end%> </font> <br/>

    <%= f.submit 'Save'%>

    <% end %>

</div>
<%= link_to "Home", root_path %>
