<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<center><em><h3><%= @event.event_name %></h3></em></center>
<br/>
<p><%= @event.description %></p>
<br/>
<center><a href="<%= @event.url %>" target="_blank">Click for More Information</a>
<br/>
<%= @event.neighborhood %>
<br/>
<img src="<%= @event.pic %>"/></br></center>
<br/>
<br/>
<%= @event.category %>
<br/>
</body>
</html>